nav{
    color: rgb(145, 85, 85);
}

body{
    overflow-x: hidden;
}

.nav{
    padding: 1%;
}

.name{
    color: rgb(116, 97, 97);
}

.pagetitle{
    text-align: center;
    font-style: oblique;
    font-size: 45px;
    color: rgb(192, 162, 30);
}
.heading{
    margin: 2%;
}

.signing h6{
    text-align: center;
    font-style: oblique;
    font-size: 34px;  
}